<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebSocket Example</title>
	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
	<script src="stomp.js"></script>
    <script>
        // SockJS를 사용하여 WebSocket 연결 설정
        var socket = new SockJS('http://localhost:8081/chat'); // WebSocket 서버의 엔드포인트 URL로 변경
        var stompClient = Stomp.over(socket);

        // WebSocket 연결이 성공적으로 설정되었을 때 호출될 콜백 함수
        function connectCallback() {
            console.log('WebSocket 연결 성공');
            // 서버에 메시지 전송 예시
            stompClient.send('/app/hello', {}, 'Hello, Server!');
        }

        // WebSocket 메시지 수신 시 호출될 콜백 함수
        function messageCallback(message) {
            console.log('서버로부터 메시지 수신: ' + message.body);
        }

        // WebSocket 구독 설정
        function subscribeWebSocket() {
            stompClient.connect({}, connectCallback);
            stompClient.subscribe('/topic/messages', messageCallback);
        }
        
        // 페이지 로드 시 WebSocket 연결 설정
        window.onload = function() {
            subscribeWebSocket();
        };
    </script>
</head>
<body>
    <h1>WebSocket Example</h1>
    <button onclick="subscribeWebSocket()">Subscribe</button>
</body>
</html>